body {
    background-color: rgb(59, 59, 103);
    }
    
    h1 {
    color: black;
    text-align: center;
    }
    
    ol {
    font-family: algerian; font-size: 20px;
    color: white;
    }
    
     
    ul{
    color: aquamarine; font-family: castellar; font-size: 18;
    
    }
    